@model UserViewModel





<div class="form-group">
	<label class="col-form-label" asp-for="Id"></label>
	<input readonly asp-for="Id" class="form-control" />

</div>
<div class="form-group">
	<label class="col-form-label" asp-for="Fname"></label>
	<input readonly asp-for="Fname" class="form-control" />
</div>

<div class="form-group">
	<label class="col-form-label" asp-for="Lname"></label>
	<input readonly asp-for="Lname" class="form-control" />
</div>

<div class="form-group">
	<label class="col-form-label" asp-for="PhoneNumber"></label>
	<input readonly asp-for="PhoneNumber" class="form-control" />
</div>
<div class="form-group">
	<label class="col-form-label" asp-for="Email"></label>
	<input readonly asp-for="Email" class="form-control" />
</div>

