@model EmployeeViewModel

@if(Model.ImageName is not null)
{
    <div>
        <img src="~/Files/Images/@Model.ImageName" class="rounded" width="100" height="100" />
        <input asp-for="ImageName" hidden />
    </div>

}

<div class="form-group">
    <label class="col-form-label" asp-for="Name">Name</label>
    <input readonly asp-for="Name" class="form-control" />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Age">Age</label>
    <input readonly asp-for="Age" class="form-control" />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Salary">Salary</label>
    <input readonly asp-for="Salary" class="form-control" />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Address">Address</label>
    <input readonly asp-for="Address" class="form-control" />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Email">Email</label>
    <input readonly asp-for="Email" class="form-control" />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="PhoneNumber">Phone Nubmer</label>
    <input readonly asp-for="PhoneNumber" class="form-control" />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="HireDate">Hire Date</label>
    <input readonly asp-for="HireDate" class="form-control" />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="IsActive">Is Active</label>
    <input disabled asp-for="IsActive" class="form-control" />
</div>
