@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="ConfirmDelete">

    <div class="form-group">
        <label class="col-form-label" asp-for="Id"></label>
        <input readonly asp-for="Id" class="form-control" />

    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="RoleName"></label>
        <input readonly asp-for="RoleName" class="form-control" />
    </div>

    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>

</form>

