@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            Password Reset link has sent to you email Check your inbox
        </div>
        <p><a href="https://mail.google.com/mail/u/0/?pli=1#inbox"> Go to  inbox</a></p>
    </div>

</div>
@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}
