@model ResetPasswordViewModel 
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword">
			<input class="" asp-for="NewPassword" placeholder="New Password">
			<span asp-validation-for="NewPassword" class="text-danger"></span>
			<br />
			<input class="" asp-for="ConfirmPassword" placeholder="Confirm new password">
			<span asp-validation-for="NewPassword" class="text-danger"></span>
			<br />
			<input type="submit" value="Reset">
		</form>
	</div>
</div>
@section ValidationScriptSection {
	<partial name="_ValidationScriptsPartial" />
}

